<component name="libraryTable">
  <library name="Spring MVC" type="spring-mvc">
    <CLASSES>
      <root url="jar://C:/Java Work Folder/Spring Web MVC 5.0.8.RELEASE/spring-web-5.0.9.RELEASE.jar!/" />
      <root url="jar://C:/Java Work Folder/Spring Web MVC 5.0.8.RELEASE/spring-webmvc-5.0.9.RELEASE.jar!/" />
      <root url="jar://C:/Java Work Folder/Spring Web MVC 5.0.8.RELEASE/spring-webmvc-portlet-4.3.19.RELEASE.jar!/" />
      <root url="jar://C:/Java Work Folder/Spring Web MVC 5.0.8.RELEASE/spring-websocket-5.0.9.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>